{{#partial "title"}}
    This is where the data at.
{{/partial}}

{{#partial "content"}}

<h1>Data below</h1>
<p>From field from previous form: {{ sender }}</p>
<p>To field from previous form: {{ recipient }}</p>

{{/partial}}

{{> layout.hbs}}